body {
  padding-top: 70px;
  background-image: url("https://polygrafi.files.wordpress.com/2013/04/drama.jpg");
  background-size: cover;
  font-size: 20px;
}

#content {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 30px 30px 30px 30px;
}
